<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <script src="../src/lib.js"></script> -->
    <script src="../lib/note.js"></script>
    <script src="../src/index.js"></script>
    <script src="../spec/noteSpec.js"></script>
    <title>MakerNote: single page app</title>
  </head>
  <body>
    <h1>My Notes</h1>
    <form id='note_form'>
      <input type="text" name="note" id='note_text'>
      <input type='submit' id='add_note_button'>
    </form><br><br>
    Note:<div id='note_list'></div><br><br>
    <button id="all_notes">All notes</button>
  </body>
</html>
